* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
      list-style: none;
      text-decoration: none;
    }

    body {
      background: #F9FAFF;
      color: #333;
    }

    header {
      width: 100%;
      padding: 20px 10%;
      display: flex;
      align-items: center;
      background: #fff;
      margin-top: 40px;
    }

    header .logo {
      font-size: 33px;
      color: #333;
      width: 106px;
      height: 38.55px;
    }
    

    nav ul {
      list-style: none;
      display: flex;
      gap: 60px;
      margin-left: 550px;
      
    }

    nav ul li a {
      text-decoration: none;
      color: #363853;
      font-weight: 500;
      transition: 0.3s;
      font-size: 16px;
    }

    nav ul li a:focus {
      color: #FF6838;
    }

    .btn {
      padding: 10px 20px;
      background: #FF7A50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.5s;
      width: 163px;
      height: 50.41px;
      font-size: 20px;
      margin-top: 44.78px;
    }

    .bt{
      padding: 10px 20px;
      background: #FF7A50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.5s;
      width: 120px;
      height: 50.41px;
      font-size: 18px;
      margin-left: 39px;
      
    }

    .see_more{
      padding: 10px 20px;
      background: #FF7A50;
      color: #fff;
      border: none;
      border-radius: 30px 30px 1px 30px;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 141px;
      width: 176px;
      height: 58px;
      font-size: 28px;
    }

    .btn:hover {
      background: #e63c3c;
    }

    .bt:hover{
      background: #e63c3c;
    }

    .see_more:hover{
      background: #e63c3c;
    }

    .hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 10%;
    }

    .hero-text h1 {
      font-size: 42px;
      line-height: 1.3;
      width: 530px;
      height: 156px;
      margin-top: -70px;
      font-weight: 500px;
      font-size: 66px;
      color: #363853;
    }

    .hero-text h1 span {
      color: #FF7A50;
    }

    .hero-text p {
      margin: 23px 0;
      color: #363853;
      font-size: 20px;
      line-height: 30px;
    }

    .hero img {
      width: 728px;
      height: 681px;
    }

    .section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 10%;
    }

    .section-text {
      max-width: 500px;
    }

    .section-text h2 {
      font-size: 36px;
      width: 384px;
      height: 100px;
      margin-top: -59px;
      color: #363853;
    }

    .section-text h2 span {
      color: #FF7A50;
    }

    .section-text p {
      color: #363853;
      font-size: 20px;
      margin-top: 95px;
    }

    .section img {
      width: 626px;
      height: 723px;
    }

    .food {
      padding: 60px 10%;
    }

    .food h2 {
      text-align: center;
      font-size: 28px;
      margin-top: -44px;
      color: #363853;
    }

    .food h2 span {
      color: #FF7A50;
    }

    .card {
    background-color: #FFFFFF;
    width: 361px;
    border-radius: 53px 5px;
}

.card> h3{
    margin-bottom: 14px;
    margin-left: 20px;
    color: #363853;
}


.card > img{
    margin-bottom: 22px;
}

.bottom_part-card{
    padding-left: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.bottom_part-card > span{
    width: 79px;
    height: 33px;
    background-color: #FF7A50;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 20px;
    margin: 0 30px;
}

.bottom_part-card > span > a > img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_wrapper{
    display: flex;
    gap: 43px;
    margin-top: 50px;
}

.p{
    width: 163px;
    height: 30px;
}

.pm{
    width: 169px;
    height: 30px;
}

.pp{
    width: 166px;
    height: 30px;
}

.bottom_part-card > img{
    margin-top: -2px;
}

.bottom_part-card > p{
    margin-top: 12px;
}

.last_section{
    padding: 0 135px;
    margin-bottom: 197px;
}

.form_container{
    width: 100%;
    height: 312px;
    background-color: #FF7A50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
    border-radius: 20px;
}

.form_container > h2{
    font-weight: 500;
    font-size: 40px;
    color: white;
}

.events_container{
    width: 71%;
    height: 78px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 43px;
    border-radius: 70px;
}

.events_container > input{
    width: 207px;
    height: 29px;
    border: none;
    outline: none;
    font-size: 18px;
}

.events_container > button{
    width: 191px;
    height: 58px;
    background-color: #FF7A50;
    border-radius: 50px;
    border: none;
    color: white;
    border: 1px solid black;
    font-size: 20px;
}

.last_section > h2{
    font-weight: 500;
    font-size: 36px;
    width: 454px;
    height: 50px;
}

.last_section > h2 > span{
    color: #FF7A50;
}


.last_section > p{
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
}

.hero-tex > h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    width: 454px;
    height: 50px;
    color: #363853;
}

.hero-tex > h2 > span{
    color: #FF7A50;
}

.hero-tex > p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 538px;
    height: 94px;
    margin-top: 30px;
    color: #363853;
}

.her{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
}

.her > img{
    width: 816px;
    height: 580px;
}

